@charset "utf-8";
body{
	padding:5em !important;
}
.body-top {
	width: 100%;
	/*background-color: darkgray; */
}
.img-circle {
	border-radius: 50%;
	border: 1px solid #0f91ab;
	max-width: 220px;
	z-index: 9999;
}
.nav.nav a{
	text-align: center;
}
.border-theme-1 {
	border: 1px solid #0f91ab !important;
}
.block-info {
	position: absolute;
    z-index: 99;
    width: 100%;
    height: 180px;
    top: 0;
    left: 0;
	background-color: #0ac0e5;
}
.far.smaller, .fas.smaller, .fab.smaller, .fa.smaller {
	font-size: 1.5em !important;
	margin-top: 5px;
	cursor: pointer;
}

#personal-information span:first-child {
	font-weight: 500;
}
#personal-information span:last-child {
	color: #666;
}
#personal-information li:hover {
	background-color: #f9f9f9;
}
#accordion-education li.list-group-item{
	border-left: unset;
	border-right: unset;
}
#accordion-education .btn-link{
	color: #17a2b8;
}
.row.fixed-bottom {
	background-color: white;
}
.bb-1{
	border: 1px solid rgba(0, 0, 0, .1);
}
.indent-left{
	margin-top: 15px;
	margin-left: 15px;
}
  
/*===================================================================== */
.slideleft{
	margin-bottom: .5rem;
	padding-left: 45%;
	transition: padding-left .6s ease;
}
.slideleft.played{
	padding-left: 5%;
}
.btn-close{
	position: absolute;
	right: 0;
	top: 0;
	margin: .125rem 1rem;
	font-size: 4em;
	color: #17a2b8;
}

.iconics {
	display: none;
}
/*===================================================================== */

@media (min-width: 992px){
	
}
@media (max-width:991px){
	div.row.text-center div:last-child{
		margin-top: 1rem;
	}
}
@media (min-width:768px){
	.changeable.activate .wrapper { margin-right: 5rem !important; }
}
@media (max-width:767px){
	div.row.text-center div:not(:first-child){
		margin-top: 1rem;
	}
	.w-full {
		padding-bottom: unset !important;
	}
	.align-self-start + .align-self-start { margin-top: 3rem;}
}

#profile-content { display: none; padding-top: 3rem !important;}
#nav-icons {
	cursor: pointer;
}
#nav-icons .fas, #nav-icons .fab {
	color: #696969;
}
#nav-icons .fas:hover, #nav-icons .fab:hover {
	color: #17a2b8;
	font-size: 2rem;
	position: relative;
}

/* overriding style */
.changeable .w-full {
	width: 100%;
	/* width:480px; */
	align-self: auto;
	transition: all 2s ease;
}	

.changeable.activate .w-full, .changeable.activate .col-auto  {
	flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 480px;
	width: auto !important;
	/*align-self-start */
	align-self: flex-start!important;
	transition: all 2s ease;
}

.changeable.activate #profile-menu {
	margin-top: unset !important;
}

.changeable.activate #profile-menu nav {
	transition: all 2s ease;
}

.changeable.activate #profile-menu a {
	color: white;
	text-align: left;
}

.changeable.activate #profile-menu a.active {
	color: #f0e68c;
}

.changeable.activate .wrapper {
	padding-top: 3rem !important;
	flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
	max-width: 100%;
	align-self: center !important;
	transition: all 2s ease;
}

.changeable.activate .cust-lnk{
	color: white !important;
}
.changeable.activate .cust-lnk:focus {
	color: #f0e68c !important ; 
}

.maps-lnk {
	color: white !important;
}

.maps-lnk:hover{
	color: #f0e68c !important ; 
}

.carousel-item img {
	max-height: 260px;
	overflow: hidden;
}

.card-img-overlay{
	background-color: rgba(0, 0, 0, .75);
	margin: 1rem;
}
.card-img-overlay:hover{
	cursor: zoom-in;
	background-color: rgba(0, 0, 0, .5);
}

h5.mb-3 {
	color: #696969;
}

.dot {
	/* 
	height: 25px !important;
	width: 25px !important;
	*/
	background-color: #f0e68c;
	border-radius: 50% !important;
	display: inline-block;
	margin: .33rem;
	padding: .33rem;
	transition: all 1s ease;
  }
.dot:hover, .dot.active, .dot:focus{
	cursor: pointer;
	background-color: #17a2b8 !important;
	padding: .66rem;
    margin: unset;
	transition: all 1s ease;
}
#work-experience{
	margin:2.5rem 0rem; 
}
#work-experience ul li{
	margin: 0rem .5rem;
}
#body-scrollspy ul li.list-group-item{
	cursor: default;
	padding-left: unset !important;
	padding-right: unset !important;
	border-left: unset;
	border-right: unset;
}
#body-scrollspy ul li.list-group-item:hover{
	background-color: rgba(240, 230, 140, .1);
}
#body-scrollspy ul li:first-child{
	margin-top: 1.5rem;
}
#body-scrollspy ul li:last-child{
	margin-bottom: 1.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(240, 230, 140, .5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #17a2b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}


/* timeline */

.timeline, .loadable{
	width: 100%;
	max-width: 800px;
	background: #fff;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 75px;
	position: relative;
	box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
	content: '';
	position: absolute;
	top: 0px;
	left: calc(33% + 15px);
	bottom: 0px;
	width: 4px;
	background: #ddd;
}
.timeline:after {
	content: "";
	display: table;
	clear: both;
}
.entry {
	clear: both;
	text-align: left;
	position: relative;
}
.entry .title {
	margin-bottom: 0.5em;
	float: left;
	width: 33%;
	padding-right: 30px;
	text-align: right;
	position: relative;
}
.entry .title:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 4px solid #17a2b8;
	background-color: #fff;
	border-radius: 100%;
	top: 15%;
	right: -8px;
	z-index: 99;
}
.entry .title h3 {
	margin: 0;
	font-size: 120%;
}
.entry .title p {
	margin: 0;
	font-size: 100%;
}
.entry .body {
	margin: 0 0 3em;
	float: right;
	width: 66%;
	padding-left: 30px;
}
.entry .body p {
	line-height: 1.4em;
}
.entry .body p:first-child {
	margin-top: 0;
	font-weight: 400;
}
.entry .body ul {
	color: #aaa;
	padding-left: 0;
	list-style-type: none;
}
.entry .body ul li:before {
	content: "–";
	margin-right: 0.5em;
}

li.list-group-item {
	border:none !important;
	padding: .5rem 1.25rem;
}

/*  */
.card-title {
	color: #148c9f !important;
	border-bottom: 1px solid #17a2b8;
}

.clear-padding {
	padding: unset !important;
}

.row.exp::before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 27px);
    bottom: 0px;
    width: 5px;
    background: rgba(240, 230, 140, .5);
}

#track > div > div:first-child {
	padding-top: 15px;
}

#track > div > div:last-child > div.body {
	margin-bottom: unset !important;
}

.mb-05 {
	margin-bottom: 0.5rem !important;
}

.card-document {
	padding: 1rem;
	box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.card-title.display-6 {
	font-size: 2rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}