  /*----------------- section educator css ------------*/
@charset "utf-8";
@font-face {
    font-family: "Lato";
    font-style: 11pt;
    font-weight: normal;
}
input:-webkit-autofill {
	background-color: #fff !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
#progressbar2 {	position: fixed; z-index: 9999;	width:0; height:3px; background-color: #FE0C61;	top:0; }
#progressbar3 { position: absolute;	width:100%;	height:5px; background-color: #FE0C61;	top:0; }
#progressbar4 {	position: absolute;	width:75%; height:5px;	background-color: #FF2800; top:0; }
#progressbar5 {	position: absolute;	width:50%; height:5px;	background-color: #FFB400; top:0; }
#progressbar6 {	position: absolute;	width:25%; height:5px;	background-color: #00D08C; top:0; }
#loadingbar { position: fixed; width: 0; height: 10px; background-color: #343a40; top: 0; }
#overlay { display:none; }
.hovers:hover { background-color: rgba(248,249,250,0.5); }
.hovers ul { display: none; margin-right: -15px;}
.hovers li:hover { background-color: white; }
.hovers .fa:hover { cursor: pointer; }
#frameloadingbar { display:none; position: absolute; }
#loading { position:fixed; z-index:999;	top:0; left:0; width:100%; height:100%; }

.lds-ring {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.60s;
  border: 6px solid #FE0C61;
  border-color: #FE0C61 transparent transparent transparent;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.45s;
  border: 6px solid #FF2800;
  border-color: #FF2800 transparent transparent transparent;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.3s;
  border: 6px solid #FFB400;
  border-color: #FFB400 transparent transparent transparent;
}
.lds-ring div:nth-child(4) {
  animation-delay: -0.15s;
  border: 6px solid #00D08C;
  border-color: #00D08C transparent transparent transparent;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#bodymain {
	position: relative; z-index: 1;
}
#bodyexpand {
	position: relative; z-index: 1; display: none;
}
#spytest {
	overflow-y: scroll;
	height: 55%;
}
#frmspytest {
	float: right; right: 0;
}
#leftpanel { position: fixed; z-index: 1; padding-right: unset; padding-left: unset; display: none; }
#rightpanel { position: absolute; right: 0; display: none; }
#ribbon { position: fixed; top: 0; z-index: 11; margin-bottom: 5px; }
#bodyeducator { margin-top: 3rem; }
#topmenu, #topmenupeserta { z-index: 11; top: 5px; }
#formcari { margin-bottom: 0; }
/*#topmenu > div > div > ul > li > a { color: #212529; padding: .75rem .5rem; }*/
#navbarDropdown { color: #212529; padding: .75rem .5rem; }
#topmenu > div > div > ul > li > div { background-color: transparent; border: none; }
#topleftmenupeserta > ul > li { display: -webkit-inline-box; }
#cardeducator { position: fixed; right: 4%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}
#todropdownp, #ulpbt > ul { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
#cardeducator > li > img { max-width: 18rem !important; height: auto; }
#section-peserta, #section-tryout { padding-top: 5rem; }
#section-peserta-title { z-index: 11; }
#section-peserta-body { z-index: 1; position: relative; }
.cardpeserta { max-height: 115px; }
.cardp:hover { box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2); }
.blankphoto { background-color: #6c757d; }
#section-peserta-blank { display: none; }
#bilik {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.7) !important; /* #f8f9fa */
	position: fixed;
	top:10px;
}
.js-load {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #f8f9fa !important; /* #f8f9fa */
	position: fixed;
	top:0;
}
.js-load > div { position: absolute; top: 46%; }
.fw4 { font-weight: 400 !important; }
.display-5 { font-size: 2.5rem; font-weight: 300; line-height: 1.2; }
.display-6 { font-size: 1.75rem; font-weight: 300; line-height: 1.2; }
.display-7 { font-size: 1.5rem; font-weight: 300; line-height: 1.2; }
.display-8 { font-size: 1.25rem; font-weight: 300; line-height: 1.2; }
.display-9, .ui-autocomplete { font-size: 1rem; font-weight:300; line-height: 1.2; }
.clrm { margin: unset !important; }
.clrp { padding: unset !important; }
.clrpy { padding-top: unset !important; padding-bottom: unset !important; }
.mx-6 { margin-left: 5rem !important; margin-right: 5rem !important; }
.bordera { border: 1px solid rgba(0,0,0,0.125); }
.borderb { border-bottom: 1px solid rgba(0,0,0,0.125) !important; }
.bordert { border-top: 1px solid rgba(0,0,0,0.125); }
.borderr { border-right: 1px solid rgba(0,0,0,0.125); }
.bordery { border-top: 1px solid rgba(0,0,0,0.125); border-bottom: 1px solid rgba(0,0,0,0.125); }
.-border { border: none !important; }
.-bordert { border-top: none !important; }
.-borderb { border-bottom: none !important; }
.-borderl { border-left: none !important; }
.-borderr { border-right: none !important; }
.-borderx { border-left: none !important; border-right: none !important; }
.-bordery { border-top: none !important; border-bottom: none !important; }
.-borderrad { border-radius: unset !important; }
.-mt-3 { margin-top: -3px; }
.boxsh { box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
.pt-5-resp { padding-top: 3rem ; }
.dataTables_wrapper { padding: 0 !important; }
#frmchart { position: relative; margin: unset; }
#frmchart-menu {
	display: none; position: absolute; right: 15px; top: 0;
	background-color: rgba(0,0,0,.125); padding: .5rem;
}
#frmchart-menu-custom {
	position: absolute; top: 0; right: 6rem; background-color: rgba(0,0,0,.125);
	padding: 1rem; width: max-content;
}
.smooth { -webkit-transition: 1s !important; position: relative !important;}
a.fa-caret-down:hover { cursor: pointer !important;  }
.list-group-item.smalli { padding: .25rem .5rem !important; }
div.smooth.collapse.show { width: 100%; }
td.details-control {
    background: url('/assets/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/assets/img/details_close.png') no-repeat center center;
}
.bg1 {
  background: url('/assets/img/background0.gif') no-repeat center center;
}
.rh { background-color: transparent !important; font-weight: 400 !important; line-height: 1.5 !important; }
.tblb > td > tbody > tr > td { padding: 2px 15px !important; }
.tblb:hover, .tblb > td > tbody > tr:hover { background-color: transparent !important; }
.tblg.chart-container { padding: 2rem 2.2rem !important; }
.container-fluid.bg-light.fixed-bottom { border-top: 1px solid rgba(0,0,0,.125); }
.p-tight { padding: 5px 15px !important; }
.p-tight > td { }
.modalbody { padding: 1.25rem !important; }
.modalbody > img { width: 100% !important; }
.ph { transition: all .5s ease-in-out; box-shadow: unset !important; }
.ph:focus { padding-bottom: 1.5rem !important; margin-bottom: unset !important; margin-right: unset !important; border: 1px solid #8b99a7 !important; background-color: #fefefe !important; }

.ph::-webkit-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph::-moz-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph:-ms-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph::-ms-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph::placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }

.ph:focus::-webkit-input-placeholder { opacity: 0.6; padding-right: 1rem !important; }
.ph:focus::-moz-placeholder { opacity: 0.6; }
.ph:focus:-ms-input-placeholder { opacity: 0.6; }
.ph:focus::-ms-input-placeholder { opacity: 0.6; }
.ph:focus::placeholder { opacity: 0.6; }


.ph2 { box-shadow: unset !important;
  border-left:unset !important; border-right:unset !important; border-top:unset !important;
  }
.ph2:focus { transition: all .5s ease-in-out; border: 1px solid #007bff !important; background-color: #fefefe !important;
  border-left:unset !important; border-right:unset !important; border-top:unset !important;
  }

.ph2::-webkit-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; }
.ph2::-moz-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2:-ms-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2::-ms-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2::placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }

.ph2:focus::-webkit-input-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus::-moz-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus:-ms-input-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus::-ms-input-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus::placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }

.black25 { color: rgba(0,0,0,.25) !important; }
#btnrow:hover { cursor: pointer; }
#formlogin > input.ph { margin-left: unset !important; margin-right: unset !important; margin-top: unset !important; border: 1px solid #c5ccd3;  }
#formcari > input.ph { margin-right: 99px; width: 100%; }
.rotate { -moz-transition: all 1s linear; -webkit-transition: all 1s linear; transition: all 1s linear; }
.rotate.down { -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); transform:rotate(90deg); }
.fls { height: 100%; left: 0; top: 0; background-color: #f8f9fa!important; }
#list-menu > .list-group-item {
	align-self: center;
	border-radius: unset ;
	border: 1px solid #f8f9fa ;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}
#list-menu > .list-group-item.active {
	align-self: center;
	color: #343a40 !important;
	font-weight: 400;
	border-bottom: 1px solid rgba(0,0,0,.25);
	text-shadow: 5px 5px 5px #fff;
	box-shadow: 0 1px 0 #fff !important;
}
.-mt5 { margin-top: -5rem !important; }
#polarlegends ul { list-style: none; margin: 0; padding: 0; }
#polarlegends span { display: inline-block; width: 14px; height: 14px; border-radius: 100%; margin-right: 16px; margin-bottom: -2px; }
#polarlegends li { margin-bottom: 10px; display: inline-block; margin-right: 10px; }
.colljk {  } /*class sebagai pengganti id*/
.frm-ljk > div.card { position: absolute !important; }
.col-xx .d-flex.flex-column { position: absolute; top: -3rem; right: 0;}
.col-xx .fa {
	border: 1px solid rgba(0,0,0,.125); margin-top: .5rem;
}
.col-xx .fa-line-chart.active , .fa-bar-chart.active {
	border: 1px solid #1e7e34 ; background-color: #f1f1f1; color:#343a40;
}
.col-xx span.badge:hover { cursor: pointer; background-color: #838c95; }
.w-33 { width: 33% !important; }
.card-img-overlay > span.fa-search-plus:hover { color: #007bff !important; cursor: pointer;}

.frm-ljk .card-footer { padding: unset; }
.frm-ljk div.card-footer span { padding: 1rem !important; width:30% ;}
.frm-ljk div.card-footer span.fa:hover { color: #007bff !important; cursor: pointer; background-color: #fafafa; }

#topleftmenuedu ul li > a{ border: 1px solid transparent; }
#topleftmenuedu ul li > a:hover { cursor: pointer; }
#topleftmenupeserta ul li > a{ border: 1px solid transparent; }
#topleftmenupeserta ul li > a:hover { cursor: pointer; }
ul.ui-autocomplete.ui-front {
		max-height: 300px; position: fixed; overflow-y: scroll;
	}
ul.ui-autocomplete.ui-front li:hover { font-weight: 500 !important; }
#section-peserta-body { margin-bottom: 91px; }
#footer { margin: unset }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; box-shadow: inset 0 0 5px grey; }
::-webkit-scrollbar-thumb { background: #343a40; border-radius:5px;}
.clabel, .cvalue, .crank { display: none !important; }
#frmchartbtn { box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, .125); }
#frmchartbtn:active { box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25); }
#frmchartbtn .fa { margin: unset !important; padding: unset !important; }
.sty0 {  cursor: pointer; color: #343a40;}
.sty0:hover, .sty0:focus { text-decoration: none; cursor: pointer; }
/*educator properties end */
/*---------------- section scholar css ---------------------*/
/*#frmphoto img { padding: 1rem; } */
ul ul.list-inline li { display: inline-flex;}
ul ul.list-inline li:first-child { width: 50%; }
.col-l { width: 35%; color: #333333 ; align-self: center; font-weight: 400;}
.col-r { width: 60%; color: #6c757d ; align-self: center; font-weight: 400;}
.col-r.ed { width: 50% !important; }
li.bu { border: unset !important; }
ul .lis { width: 100%; border: 1px solid rgba(0,0,0,.125) !important; }
.pc5 { padding: .5rem !important; }
.pc51 { margin-bottom: .3rem !important; }
div.row > div.lig {
	height: 45px;
	display: inline-flex; padding: .75rem 1.25rem;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.hmp + .hmp {
	border-top: 1px solid rgba(0,0,0,.125) !important;
}
.lig.collapse.show {
	display: flex !important;
	padding: .5rem 1.25rem;
	position: relative;
	bottom: -.75rem;
	border-top: 1px solid rgba(0,0,0,0.125);
	background-color: #f8f9fa;
}
.list-group-item.hmp { border-top: unset; border-left: unset; border-right: unset; border-bottom: 1px solid rgba(0,0,0,0.125); }
div.hmp { color: #333 ; font-weight: 400; }
div.hmp + .show { padding-bottom: unset; }
section.p { display: none; }
section.p.show { display: block !important; }
.clrbg { background-color:transparent !important;}
.brd1 { border: 1px solid rgba(0,0,0,0.125); }
.he1 { height: 1em !important; }
.pe1 { padding: .25em .5em !important; }
.dropdown-item.fw30 + .dropdown-item.fw30 { border-top: 1px solid rgba(0,0,0,0.125); }
#rowpbt1, #rowpbt2 { display: none; }
.disph { display: none; }
.disph a { position: relative; }
.borderu { border: unset; }
#rowhovers { position: fixed; bottom: 0; z-index: 100; }
#menuhovers {  }
#menuhovers > div { margin: unset; }
#menuhovers > div > a {
	-moz-transition: all 1.5s;
	-webkit-transition: all 1.5s;
	transition: all 1.5s;
}
tr.tblb > td { padding: unset !important; }
tr.tblb > td > tbody.list-group > tr.list-group-item {
	border-left: unset; border-right: unset; padding-bottom: unset; padding-top: .25rem;
	}
tr.tblb > td > tbody.list-group > tr.list-group-item > td {
	border-top: unset; border-left: unset; border-right: unset;
	}
.btn-pbt + .btn-pbt { margin-left: 1rem; }
.bljk0 { position:absolute; right:0; top:0; padding:.75rem; margin-right:.5rem; }
#loader-bottom { position: fixed; bottom: 0; right: 0; z-index: 199; display: none; }
#loader-bottom .lds-ring { width: 48px !important; height: 48px !important; }
#loader-bottom .lds-ring div { width: 32px !important; height: 32px !important; }
#boxinfo, #boxresume { border: 1px solid; }
#boxtogglepanel .list-group-item { padding: .5rem 0; }
.carousel-control-prev-icon {
  background-image: none !important;
}
.carousel-control-next-icon {
  background-image: none !important;
}
#profil-educator-list .fa {
	display:block; position: absolute; right: 0; top: 0;
}
.flabel { display: none; }
.invalid {
	color: #212529;	background-color: #ffc107;
	border-color: #d39e00;	outline: 1;
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#btn-flabel {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.inputfile:focus + label,
.inputfile + label:hover {
	outline: 1px dotted #6c757d;
	outline: -webkit-focus-ring-color auto 5px;
}
.labs { position: absolute; margin-left: 5rem; }
li > a.sty0 { color: inherit !important; }
#profil-educator-list > li > .col-l { width: 25%; }
.fa.fa-pencil { color: #888888; }
.fa.fa-pencil:hover { color: #000; }
#modal-edit-nomor > div,
#modal-edit-photo > div {box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4); }
.form-control0 {
	background-image: linear-gradient(dodgerblue, dodgerblue);
	background-size: 0 2px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all .2s ease-out;
}
.form-control0:focus {
	box-shadow: unset !important;
	background-size: 100% 2px, auto;
}
.img-responsive {
	display: block; height: auto; max-width: 100%
}
.rounded-max {
	border-radius: 50% !important;
}
.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.abs-d { position: absolute; bottom: 0; left: 0; }
.abs-r { position: absolute; right: 0; }
.figure.frame{
	width: 100%; min-height: 11rem; background-color: #f8f9fa ;
}
ul.row.list-group > li {
	border-left: unset; border-right: unset; border-bottom: 1px solid rgba(0,0,0,0.125);
}
ul.row.list-group > li:last-child { border-bottom: unset; }
.fieldchart { padding-top: 4rem; padding-right: 4rem; padding-left: 4rem;}
.navbar-toggle-icon { height: 1.2rem !important; }
ul.float-right > li { border-top: unset; }
#navbarDropdownPbt { display: -webkit-inline-box; }
#ulpbt{ left: 2rem !important; }
.colp ul li .col-l { display: inline-block; }
.bs { box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4); }
/*end global frontpage property*/
/* =================   variasi responsive height ============================================================================== */
/*variasi responsive mode 1 max 505px */
@media screen and (max-width: 505px) {
	#rightpanel { padding-left: 5% !important; padding-right: 5% !important; }
	div.px-5.mb-3 { padding-left: 1.25rem !important; padding-right: 1.25rem !important; }
	#formcari { display: -webkit-inline-box !important; }
	#btncari { margin-left: 0.5rem !important; }
	.col-xx { padding: unset !important; }
	.p-tight { }
	#rightpanel .fw30 { font-size: 1.1rem !important; line-height: 1.1 !important; }
	#rightpanel .display-5 { font-size: 2rem !important;  }
	#bodymain {
		padding-left: unset !important; padding-right: unset !important;
	}
	#bodymain > .row { margin-left: 0 !important; margin-right: 0 !important; }
	#menuhovers > div > a { padding-left: unset !important; padding-right: unset !important; }
	#list-menu > a { padding-left: .5rem !important; padding-right: .5rem !important; }
	.carousel-caption.capljk {
	left: 25% !important; right: 25% !important; bottom: 3rem !important;
	}
	.carousel-item > div.hidinfo {
		 display:none !important; position:absolute; top: 5%; right: 15%; left: 15%; border: none; text-align:center;
	}
	.fieldchart { padding-right: unset; padding-left: unset;}
	ul ul.list-inline li { display: block; }
	ul ul.list-inline li:first-child { width: 100%; }
}

/*end about frontpage smaller*/
@media screen (min-width: 506px) and (max-width: 767px) {
	#bodymain {
		margin-top:unset !important;
		margin-bottom:unset !important;
		padding-bottom: unset !important;
	}
}
@media screen and (min-width: 506px) {
	.carousel-caption.capljk {
	left: 25% !important; right: 25% !important; bottom: 3rem !important;
	}
	.carousel-item > div.hidinfo {
		 display:none; position:absolute; top: 5%; right: 15%; left: 15%; border: none; text-align:center;
	}
}
@media screen and (max-width: 767px) {
/*about frontpage small*/
.md-nbb { border-bottom: unset !important; }
.frmlogo { width: 90%; margin-left: auto; margin-right: auto; padding: 3rem !important; }
#bodyexpand { text-align: center !important; }
#bodyeducator .chart-container { display: none ; }
#formlogin { margin:unset !important; }
#leftpanel { top:5px ; flex-direction: row !important; }
#leftpanel > .list-group { flex-direction: unset !important; }
#leftpanel > .row { display: unset; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: unset !important; }
.fls { height: unset !important; padding-top: unset !important; background-color: #f8f9fa!important; }
img.frmlogo { width: 284px; height: 284px; }
#rightpanel { padding: 1rem !important; }
#dynamic > section > .container { max-width:100% !important; }
#content-tryout-detail .container { max-width: 100% !important; }
.frm-ljk { margin-top: .25rem; }
.frm-ljk > div > img { padding: .5rem; max-width: 46%; margin: auto; }
.frm-ljk .card { width: 100%; margin-left: -15px; margin-right: -15px; }
.frm-ljk .card .card-body { display: block; }
.m-5r { margin: unset; }
#list-menu-0 { padding: 1rem !important; }
.list-group-flush > .list-group-item { padding: .75rem .25rem; }
.list-group-item .p-d { padding: .75rem 1.25rem !important; }
.col-l.md { width: 45% !important; margin: unset !important; }
.col-r.md { width: 55% !important; margin: unset !important; }
#bodymain { margin-top: unset !important; margin-bottom: unset !important; }
#bodymain > .row > div + div { padding-top: .5rem !important; }
#boxformlogin { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
#rightpanel > div > .p-5 { padding-left: 1rem !important; padding-right: 1rem !important; padding-bottom: unset !important;	}
a.dropdown-toggle::after { display: none !important; }
.col-xx > .row { padding-left: 0 !important; padding-right: 0 !important; }
.txt-resp { text-align: left !important; }
#list-menu > .list-group-item.active { border-bottom: unset !important; }
}
@media screen and (max-width: 991px) {
/*about frontpage middle*/
/*#leftpanel { top: 10px; padding: 0; text-align: center; }*/
.pl--lg { padding-left: 0 !important; margin-top: 0.25rem !important; margin-top: 0.25rem !important; }
#bodymain, #bodyexpand {max-width: 100%; margin-left:auto; margin-right:auto; }
#boxtogglepanel > div + div { margin-top: 3rem; }
#topleftmenupeserta > ul > li:first-child, #topleftmenuedu > ul > li:first-child {
	margin-top: 0.5rem;
}
#topleftmenupeserta > ul > li, #topleftmenuedu > ul > li {
	border-top: 1px solid rgba(0,0,0,0.125);
}
.fieldchart { border-top: 1px solid rgba(0,0,0,0.125); }
#bodypeserta canvas { max-width: 395px !important; margin-left: auto; margin-right: auto;}
.pt-5-resp { padding-top: unset !important; }
.col-sm-12.border + .col-sm-12.border { border-top: unset !important; }
.container.fluid-md { max-width: 100% !important; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}
/*.tblg > .container-fluid > .container { margin-top: 1rem !important; } */
/*end about frontpage*/
.clrp-resp { padding: unset!important;}
}
@media screen and (min-width: 992px) {
/*about frontpage large*/
/*.tblg > div { width: 800px !important; }*/
/*end about frontpage large*/
.frm-ljk { margin-top: unset;}
.frm-ljk > div > img { width: 100%; padding: 1rem;}
.frm-ljk .card .card-body {}
#topleftmenupeserta ul li.borderb { border-bottom: unset; }
.col-lg-6.border + .col-lg-6.border { border-left: unset !important; }
}
@media screen and (min-width:768px) {
img.frmlogo { max-width: 40%; margin-left: auto; margin-right: auto;}
div.px-5.mb-3 { padding-left: .25rem !important; padding-right: .25rem !important; }
.m-5r { margin: 1rem 3rem; }
.col-xx > .row { padding-left: 3rem; padding-right: 3rem; }
.col-l.lg { width: 50% !important; }
.col-r.lg { width: 50% !important; }
.txt-resp { text-align: center !important; }
}
/*about front pagesmall2*//*end about frontpage small2*/
@media (min-width: 506px) and (max-width: 991px) {
/*#rightpanel { padding-left: 10% !important; padding-right: 10% !important; }*/
}
@media (min-width: 768px) and (max-width: 991px) {
/*.tblg { width: 39vw !important; }*/
.frm-ljk { margin-top: .25rem; display: -webkit-inline-box; }
.frm-ljk > div > img { padding: .5rem; max-height: 130px; margin: auto; }
.frm-ljk .card { width: 95%; }
.frm-ljk .card .card-body { display: none; }
}
@media (min-width: 992px) and (max-width: 1199px) {
/*.tblg { width: 33vw !important; }*/

}
@media (min-width: 768px) and (max-width: 1199px) {
/*
#bodymain, #bodyexpand {max-width:90%; margin-left:auto; margin-right:auto; }
*/
#content-tryout { padding-left: 1.5rem; padding-right: 1.5rem;
}

@media screen and (min-width: 1200px) {
/*
#bodymain, #bodyexpand {max-width:85%; margin-left:auto; margin-right:auto;}
*/
#bodypeserta > section { width:80% !important; }
}
/* end variation */
/* khusus gambar ljk & scanner */
@media (max-width: 505px) {  }
@media (min-width: 506px) and (max-width: 767px) {  }
@media (min-width: 768px) and (max-width: 793px) {  }
@media (min-width: 794px) and (max-width: 819px) {  }
@media (min-width: 820px) and (max-width: 845px) {  }
@media (min-width: 846px) and (max-width: 871px) {  }
@media (min-width: 872px) and (max-width: 897px) {  }
@media (min-width: 898px) and (max-width: 933px) {  }
@media (min-width: 934px) and (max-width: 959px) {  }
@media (min-width: 960px) and (max-width: 985px) {  }
@media (min-width: 986px) and (max-width: 991px) {  }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 1200px) and (max-width: 1439px) { }
@media (min-width: 1440px) { }
/* end khusus gambar ljk  & scanner */
