<div class="container mb-5" id="aboutme">
    <h5 class="mb-3 card-title">Personal information</h5> 
    <ul class="list-group">
        <li class="list-group-item d-flex flex-wrap">
            <span class="col-4">Gender</span>
            <span class="col">Male</span>
        </li>
        <li class="list-group-item d-flex flex-wrap">
            <span class="col-4">Height</span>
            <span class="col">163 cm</span>
        </li>
        <li class="list-group-item d-flex flex-wrap">
            <span class="col-4">Weight</span>
            <span class="col">61 Kg</span>
        </li>
        <li class="list-group-item d-flex flex-wrap">
            <span class="col-4">Place of birth</span>
            <span class="col">Bandung</span>
        </li>
        <li class="list-group-item d-flex flex-wrap">
            <span class="col-4">Date of birth</span>
            <span class="col">29 July 1987</span>
        </li>
        <li class="list-group-item d-flex flex-wrap">
            <span class="col-4">Address</span>
            <span class="col">Jl. Maleber inpress Gg. M. Mochasim No. 186A, Maleber, Andir, Bandung 40184</span>
        </li>
    </ul>
</div>


<div class="container">
    <h5 class="mb-3 card-title">Education
    </h5> 
    <div class="accordion" id="accordion-education">
        <div class="card">
            <div class="card-header" id="lnk-university">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#university" aria-expanded="true" aria-controls="univeristy">
                    STMIK Ganesha Bandung
                
                </button>
                <div class="float-right">
                    <i class="fas fa-map-marker-alt text-danger"></i>
                    <i class="far fa-times-circle mx-2 text-warning"></i>
                </div>
                </h5>
            </div>
        
            <div id="university" class="collapse" aria-labelledby="lnk-university" data-parent="#accordion-education">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Year</span><span class="col">2010 - 2011</span>
                    </li>
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Majority</span><span class="col">Technical information</span>
                    </li>
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Graduate</span><span class="col">Not pass</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="lnk-highschool">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#highschool" aria-expanded="true" aria-controls="highschool">
                    SMKN 6 Bandung
                </button>
                <div class="float-right">
                    <i class="fas fa-map-marker-alt text-danger"></i>
                    <i class="far fa-times-circle mx-2 text-success"></i>
                </div>
                </h5>
            </div>
        
            <div id="highschool" class="collapse show" aria-labelledby="lnk-highschool" data-parent="#accordion-education">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Year</span><span class="col">2002 - 2005</span>
                    </li>
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Majority</span><span class="col">Machine engineering</span>
                    </li>
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Graduate</span><span class="col">pass</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="lnk-juniorhighschool">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#juniorhighschool" aria-expanded="true" aria-controls="juniorhighschool">
                    SMPN 9 Bandung
                </button>
                <div class="float-right">
                    <i class="fas fa-map-marker-alt text-danger"></i>
                    <i class="far fa-times-circle mx-2 text-success"></i>
                </div>
                </h5>
            </div>
        
            <div id="juniorhighschool" class="collapse" aria-labelledby="lnk-juniorhighschool" data-parent="#accordion-education">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Year</span><span class="col">1999 - 2002</span>
                    </li>
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Graduate</span><span class="col">pass</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="lnk-elementary">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#elementary" aria-expanded="true" aria-controls="elementary">
                    SDN Cibeureum VIII Bandung
                </button>
                <div class="float-right">
                    <i class="fas fa-map-marker-alt text-danger"></i>
                    <i class="far fa-times-circle mx-2 text-success"></i>
                </div>
                </h5>
            </div>
        
            <div id="elementary" class="collapse" aria-labelledby="lnk-elementary" data-parent="#accordion-education">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Year</span><span class="col">1992 - 1999</span>
                    </li>
                    <li class="list-group-item d-flex flex-wrap">
                        <span class="col-4">Graduate</span><span class="col">pass</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>