
<div class="container">
    <h5 class="mb-3">Education
        <!-- <i class="fas fa-long-arrow-alt-left float-left smaller" data-target="aboutme"></i>
        <i class="fas fa-long-arrow-alt-right float-right smaller" data-target="experience"></i> -->
    </h5> 
</div>
<div class="accordion" id="accordion-education">
    <div class="card">
        <div class="card-header" id="lnk-university">
            <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#university" aria-expanded="true" aria-controls="univeristy">
                STMIK Ganesha Bandung
            </button>
            <i class="far fa-times-circle float-right mt-2 text-warning"></i>
            </h5>
        </div>
    
        <div id="university" class="collapse show" aria-labelledby="lnk-university" data-parent="#accordion-education">
            <ul class="list-group">
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Year</span><span class="col">2010 - 2011</span>
                </li>
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Majority</span><span class="col">Information Technology</span>
                </li>
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Graduate</span><span class="col">Not pass</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="lnk-highschool">
            <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#highschool" aria-expanded="true" aria-controls="highschool">
                SMKN 6 Bandung
            </button>
            <i class="far fa-check-circle float-right mt-2 text-success"></i>
            </h5>
        </div>
    
        <div id="highschool" class="collapse" aria-labelledby="lnk-highschool" data-parent="#accordion-education">
            <ul class="list-group">
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Year</span><span class="col">2002 - 2005</span>
                </li>
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Majority</span><span class="col">Machine engineering</span>
                </li>
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Graduate</span><span class="col">pass</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="lnk-juniorhighschool">
            <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#juniorhighschool" aria-expanded="true" aria-controls="juniorhighschool">
                SMPN 9 Bandung
            </button>
            <i class="far fa-check-circle float-right mt-2 text-success"></i>
            </h5>
        </div>
    
        <div id="juniorhighschool" class="collapse" aria-labelledby="lnk-juniorhighschool" data-parent="#accordion-education">
            <ul class="list-group">
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Year</span><span class="col">1999 - 2002</span>
                </li>
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Graduate</span><span class="col">pass</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="lnk-elementary">
            <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#elementary" aria-expanded="true" aria-controls="elementary">
                SDN Cibeureum VIII Bandung
            </button>
            <i class="far fa-check-circle float-right mt-2 text-success"></i>
            </h5>
        </div>
    
        <div id="elementary" class="collapse" aria-labelledby="lnk-elementary" data-parent="#accordion-education">
            <ul class="list-group">
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Year</span><span class="col">1992 - 1999</span>
                </li>
                <li class="list-group-item d-flex flex-wrap">
                    <span class="col">Graduate</span><span class="col">pass</span>
                </li>
            </ul>
        </div>
    </div>
</div>
