<div class="row exp">
    <!-- current -->
    <div class="entry">
        <div class="title">
            <h3 class="mb-05">2021 - Now</h3>
            <p class="display-4">Staff Teknis & Junior Programmer</p>
        </div>
        <div class="body">
            <div class="mb-3"><h5>CV. Putera Purnama Indonesia</h5>
                <div class="small">Jl. Piit No. 2, Sadang serang, Kec. Coblong, Bandung 40133 (Staff Office)</div>
            </div>
            <ul>
                <li>Pengembangan aplikasi Anjab (Analisi Jabatan).</li>
                <li>Support Installasi, maintenance dan troubleshooting di VPS.</li>
                <li>Technical meeting & support troubleshooting dengan pengguna.</li>
            </ul>
        </div>
    </div>
    <!-- cisangkan -->
    <div class="entry">
        <div class="title">
            <h3 class="mb-05">2020 - 2021</h3>
            <p class="display-4">Staff IT</p>
        </div>
        <div class="body">
            <div class="mb-3"><h5>PT. Cisangkan (Beton Works)</h5>
                <div class="small">Jl. Raya Cijerah Jl. H. Alpi No.107, Bandung 40212</div>
            </div>
          <ul>
            <li>Pengembangan web aplikasi internal sales tracking (based on Python, Angular & MySql) dan aplikasi android mobile (based on Java - Android studio).</li>
            <li>Support Installasi, maintenance dan troubleshooting</li>            
          </ul>
        </div>
    </div>
    <!-- leibel -->
    <div class="entry">
        <div class="title">
            <h3 class="mb-05">2018 - 2020</h3>
            <p class="display-4">Staff MIS</p>
        </div>
        <div class="body">
            <div class="mb-3"><h5>PT. Beton Elemen Persada (Beton Works)</h5>
                <div class="small">JL Raya Batujajar KM.5 No.18, Kabupaten Bandung Barat</div>
            </div>
          <ul>
            <li>Admin jaringan (bandwidth management mikrotik, user access role).</li>
            <li>Pengembangan website perusahaan (wordpress) dan aplikasi intern.</li>
            <li>Handling IT Support (installation, maintenance, troubleshooting).</li>          
          </ul>
        </div>
    </div>

    <!-- GO Pusat -->
    <div class="entry">
        <div class="title">
            <h3 class="mb-05">2016 - 2017</h3>
            <p class="display-4">TI Pusat</p>
        </div>
        <div class="body">
            <div class="mb-3"><h5>PT. Pendidikan Ganesha Operation</h5>
                <div class="small">Jln. Purnawarman 36B Bandung (Pusat)</div>
            </div>
          <ul>
            <li>Setting dan troubleshooting router atau server cabang secara remote.</li>
            <li>Troubleshooting dan maintenance jaringan area kantor pusat.</li>
            <li>Administrasi data, user internet, perangkat server dan jaringan.</li>
            <li>Mengembangkan aplikasi sesuai kebutuhan (log mikrotik, HTTPS proxy).</li>      
          </ul>
        </div>
    </div>

    <!-- GO -->
    <div class="entry">
        <div class="title">
            <h3 class="mb-05">2011 - 2016</h3>
            <p class="display-4">TI Cabang</p>
        </div>
        <div class="body">
            <div class="mb-3"><h5>PT. Pendidikan Ganesha Operation</h5>
                <div class="small">Jln. Abdurrahman saleh no.44 Bandung (penempatan cabang).</div>
            </div>
          <ul>
            <li>Instalasi, troubleshooting dan maintenance komputer dan jaringan.</li>
            <li>Operator pemindaian lembar jawaban komputer (LJK).</li>
            <li>Dukungan teknis dan perangkat multimedia pada kegiatan promosi (dokumentasi foto/video, operator multimedia seminar).</li>      
          </ul>
        </div>
    </div>
</div>