<div class="container mb-5 d-none">
        <div class="col-12">
            <a class="" data-toggle="collapse" href="#collapseNetworkingSupport" aria-expanded="false" aria-controls="collapseNetworkingSupport">
                <h5 class="lead">Networking</h5>
            </a>
            <div class="collapse" id="collapseNetworkingSupport">
                <div class="row">
                    <ul class="list-group w-100">
                        <li class="list-group-item">
                            <span class="">Instalasi jaringan dan konfigurasi router (mikrotik), akses poin, server (windows server, centos).</span>
                                <ul class="list-group list-group-flush small text-secondary">
                                    <li class="list-group-item">
                                        <span class="">manajemen bandwidth mikrotik, mac-address filtering, konfigurasi firewall, NAT.</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="">konfigurasi server untuk aplikasi tracking sales (3rd party).</span>
                                    </li>
                                </ul>
                        </li>
                        <li class="list-group-item">
                            <span class="">Pemeliharaan jaringan CCTV, setting remote akses.</span>
                        </li>
                        <li class="list-group-item">
                                <span class="">Instalasi OS (windows/ubuntu) & aplikasi pendukung.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="container mb-5">
    <div class="col-12">
        <a class="" data-toggle="collapse" href="#collapseApplicationDevelopment" aria-expanded="false" aria-controls="collapseApplicationDevelopment">
            <h5 class="lead mb-4">Application development</h5>
        </a>
        <div class="collapse show" id="collapseApplicationDevelopment">
            <div class="row">
                <!-- fixed asset -->
                <div class="card-deck mb-5">
                    <div class="card">
                        <div class="container">
                            <picture class="mx-auto">
                                <img src="assets/image/lastwork/snipe-it-dahsboard.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                                <img src="assets/image/lastwork/snipe-it-menu assets.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                                <img src="assets/image/lastwork/snipe-it-scanner audit.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                                <img src="assets/image/lastwork/snipe-it-item info.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                            </picture>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aplikasi mobile (based on Snipe-IT open source software) untuk opname asset</p>
                            <span class="small text-secondary">Java (Android studio)</span>
                        </div>
                    </div>
                </div>

                <!-- info leibel -->
                <div class="card-deck mb-5">
                    <div class="card">
                        <img src="assets/image/lastwork/sibep.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">Aplikasi web sebagai media informasi karyawan pabrik.</p>
                            <span class="small text-secondary">PHP framework (Codeigniter), MySQL</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <picture class="mx-auto">
                                <img src="assets/image/lastwork/sibep-mobile-1.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                                <img src="assets/image/lastwork/sibep-mobile-2.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                            </picture>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aplikasi mobile</p>
                            <span class="small text-secondary">Java (Android studio)</span>
                        </div>
                    </div>
                </div>
                
                <!-- geo leibel -->
                <div class="card-deck mb-5">
                        <div class="card">
                            <img src="assets/image/lastwork/geoleibel.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text">Aplikasi web untuk admin sales, untuk rekap data lokasi customer.</p>
                                <span class="small text-secondary">PHP framework (Codeigniter), MySQL</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="container">
                                <picture class="mx-auto">
                                    <img src="assets/image/lastwork/geoleibel-mobile-1.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                                    <img src="assets/image/lastwork/geoleibel-mobile-2.png"  class="img-fluid img-thumbnail" alt="" style="max-height:168px">
                                </picture>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Aplikasi mobile untuk sales dalam pemetaan data geolokasi customer</p>
                                <span class="small text-secondary">Java (Android studio)</span>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="imagemodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <button type="button" class="close btn-close text-primary" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <img src="" class="card-img-top">
        </div>
    </div>
</div>

<script>
var $img = $('#imagemodal').children().find('img');
$('.card-columns .card').each(function(){
    $(this).on('click', function(){
    var imgsrc = $(this).children('img').attr('src');  
    $('#imagemodal').on('show.bs.modal', function(){
        $img.attr('src', imgsrc);
    });
    $('#imagemodal').modal('show');
    });
});
</script>